{% extends 'base.html.twig' %}

{% block title %}Edit Hotel{% endblock %}

{% block body %}
    <h1>{{ 'hotel.edit.title'|trans }}</h1>

    {{ include('hotel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_hotel_index') }}">{{ 'general.back_to_list.label'|trans }}</a>

    {{ include('hotel/_delete_form.html.twig') }}
{% endblock %}
