{% extends 'base.html.twig' %}

{% block title %}Hotel index{% endblock %}

{% block body %}
    <h1>{{ 'hotel.index.label'|trans }}</h1>

    <form method="GET" action="{{ path('app_hotel_search') }}">
        <input name="hotel_name" type="text" {% if query is defined %}value="{{ query }}"{% endif %}>
        <button type="submit">{{ 'general.search'|trans }}</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'hotel.common.entity.id'|trans }}</th>
                <th>{{ 'hotel.common.entity.name'|trans }}</th>
                <th>{{ 'hotel.common.entity.address'|trans }}</th>
                <th>{{ 'general.entity.created_at'|trans }}</th>
                <th>{{ 'general.entity.updated_at'|trans }}</th>
                <th>{{ 'general.table.action.label'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr>
                <td>{{ hotel.id }}</td>
                <td>{{ hotel.name }}</td>
                <td>{{ hotel.address }}</td>
                <td>{{ hotel.createdAt ? hotel.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ hotel.updatedAt ? hotel.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_hotel_show', {'id': hotel.id}) }}">{{ 'general.table.action.show'|trans }}</a>
                    <a href="{{ path('app_hotel_edit', {'id': hotel.id}) }}">{{ 'general.table.action.edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'general.table.no_record'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hotel_new') }}">{{ 'hotel.create.title'|trans }}</a>
{% endblock %}
